* {
    font-family: 'Courier New', Courier, monospace;
    color: white;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

header {
    display: flex;
    background-color: rgb(0, 0, 0);
    height: 10%;
    justify-content: space-around;
    align-items: end;
    border-bottom: 2px #c33 solid;
}

nav {
    display: flex;
    justify-content: space-around;
    width: max(500px, 40%);
}

.icon-sushi {
    align-self: center;
    width: 50px;
}

.btn-header {
    font-size: 2rem;
    background-color: transparent;
    border: 0;
    border-top: 2px #c33 solid;
    cursor: pointer;
    color: white;
    transition: 200ms;
}

.btn-header:has(~ .btn-header:hover),
.btn-header:hover~.btn-header {
    opacity: 20%;
    transition: 200ms;
}


#content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(300deg, #363029, #000);
    height: 90%;
    max-height: 90%;
}

.content-default {
    height: 95%;
    background-color: black;
    border-top: 2px solid #c33;
    border-bottom: 2px solid #c33;
    overflow: hidden;
}

/* Home */

.content-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max(50%, 400px);
    margin-right: max(100px, 28%);
}

.home-title {
    font-size: 3rem;
    padding: 30px;
}

.home-subtitle {
    padding-top: 30px;
    font-size: 1rem;
}

.home-img {
    width: min(90%, 600px);
}

/* Menu */

.content-menu {
    width: max(60%, 400px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    grid-auto-rows: 50%;
    justify-items: center;
    align-items: center;
    overflow: auto;
}

.dishDiv {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.img-menu {
    height: 60%;
    width: auto;
}

.dishName-menu {
    font-size: 1.8rem;
}

/* About */

.content-about {
    display: flex;
    flex-direction: column;
    width: max(60%, 400px);
    padding: 60px;
    justify-content: space-around;
}

.about-p {
    font-size: 1rem;
    overflow: auto;
    white-space: pre-wrap;
}

@media only screen and (max-width: 600px) {
    .icon-sushi {
        display: none;
    }

    .content-home {
        margin-right: 0;
    }

}